.card.orderItem {
  width: 60vw;
}
.card.orderItem h4 {
  color: rgb(0, 165, 0);
  margin: 0.3rem 0 0 0.3rem;
}
.orderItemName {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.cardBody.orderItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 450px) {
  .card.orderItem {
    width: 20rem;
  }
}
