.login {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
.formCard {
  background-color: white;
}
.errorMessage {
  background-color: rgba(255, 71, 71, 0.603);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
