.productListContainer{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 4rem;
}

.productLeftContainer{
    padding: 0 1rem;
}
.productLeftContainer ul{
    list-style: none;
}
.productLeftContainer li{
    list-style: none;
    margin-left: -2rem;
}
.productLeftContainer ul:hover{
    cursor: pointer;
}
.productRightContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}
.spinner{
    position: absolute;
    left: 40%;
}
.ecommerceCard{
    background-color: white;
    position: relative;
}
.outOfStockCard{
    position: absolute;
    background-color: rgba(138, 132, 132, 0.664);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(211, 210, 210);
}
@media only screen and (max-width: 450px){
    body{
        font-size: 0.7rem;
    }
    .productListContainer{
        display: flex;
        flex-direction: column;  
    }
    .productRightContainer{
        padding: 0 0.5rem;
    }
    .ecommerceCard{
        width: 8rem;
    }
    .actionBtn{
        font-size: 0.8rem;
    }
}