.checkoutSection {
  min-height: 90vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.stepsSection {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn.placeOrder {
  background-color: var(--blue);
}
.backToCart {
  position: absolute;
  top: 5rem;
  left: 3rem;
}
.eachSteps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.onStep {
  color: var(--orange);
  font-weight: 900;
}
.paymentBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--index1);
}
